body{
	background-color: #EEE
}
.titre{
	text-align: center;
	margin-top: 50px
}
.user{
	text-align: center;
	background-color: #888;
	width: 400px;
	height: 300px;
	margin:  100px auto;
	padding: 20px 
}
 .user table tr td{
	padding: 5px;
	 text-align: center
}
 tr td {
	//padding: 10px;
   //text-align: center;
}
input{
	//text-align: center
}